beautifulsoup4
arxiv
pymupdf
langchain-core
langchain-community
chromadb
langchain-chroma
langchain-huggingface
langchain-openai
langchain-groq
fastapi
uvicorn[standard]
scikit-learn
gsutil
pyzotero
streamlit
streamlit-ext
duckduckgo-search
pydantic
st-link-analysis
pysqlite3-binary
tavily-python
streamlit-extras